div {
    text-align: center;
    margin: 0;
    border-style: solid;
    border-width: thin;
}

.table-instruction-register{
    table-layout: fixed;
    width: 100%;
}


input[type=number]{
    width: 40px;
}

input[type=number].memory-cell-binary{
    width: 90px;
}

input[type=number].binary{
    width: 95px;
}

input[type=number].memory-cell-decimal{
    width: 50px;
}

input[type=number].binary-4-digits{
    width:60px;
}

.on {
    background-color: red;
}

.off {
    background-color: grey;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}

tr.current-memory-address {
    background-color: gray;
 }


